
      <form [formGroup]="userForm" (ngSubmit)="editUser(userForm.value)">
        <div class="container">
          <h1>Edit Profile</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
  
  
          <div [ngClass]="{'has-danger':!userForm.controls['name'].valid && (userForm.get('name').touched || submitted)}">
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter name" name="name" formControlName="name" required>
            <div *ngIf="userForm.get('name').touched || submitted" style='color:red'>
              <div *ngIf="userForm.get('name').hasError('required')">Name is required</div>
            </div>
          </div>
  
          <div
            [ngClass]="{'has-danger':!userForm.controls['location'].valid && (userForm.get('location').touched || submitted)}">
            <label for="email"><b>Address/ Location</b></label>
            <input type="text" placeholder="Enter address/ location" formControlName="location" name="location" required>
            <div *ngIf="userForm.get('location').touched || submitted" style='color:red'>
              <div *ngIf="userForm.get('location').hasError('required')">Location is required</div>
            </div>
          </div>
  
          <div
            [ngClass]="{'has-danger':!userForm.controls['contact'].valid && (userForm.get('contact').touched || submitted)}">
            <label for="email"><b>Contact</b></label>
            <input type="text" placeholder="Enter contact" formControlName="contact" name="contact" required>
            <div *ngIf="userForm.get('contact').touched || submitted" style='color:red'>
              <div *ngIf="userForm.get('contact').hasError('required')">Contact is required</div>
  
            </div>
          </div>
  
          <div
            [ngClass]="{'has-danger':!userForm.controls['email'].valid && (userForm.get('email').touched || submitted)}">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" formControlName="email" name="email" required>
            <div *ngIf="userForm.get('email').touched || submitted" style='color:red'>
              <div *ngIf="userForm.get('email').hasError('required')">Email is required</div>
              <div class='text-center'
                *ngIf="!userForm.get('email').hasError('required') && userForm.hasError('email', 'email')">Email is
                invalid</div>
            </div>
          </div>
  

          <div class="clearfix">
            <button type="submit" class="signupbtn" [disabled]="!userForm.valid">Update</button>
          </div>
        </div>
      </form>

