<fieldset>
  <font size="200px">E-BOS</font>

  <ul>
    <li><a routerLink="/layout">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/signup">Sign up</a></li>
    <li><a routerLink="#contact">Contact</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>

<br><br><br>
<div class="tab">
  <h3>Product Types</h3>
  <a routerLink="#bread"><button class="tablinks">Bread</button></a>
  <a routerLink="#shorteats"><button class="tablinks">Short Eats</button></a>
  <a routerLink="#Sweets"><button class="tablinks">Sweets</button></a>
  <a routerLink="#cakes"><button class="tablinks">Cakes</button></a>
</div>

    <img src="../../assets/b1.jpg">
  <footer>
    <b>E-BOS Online Bakery Items Ordering System</b>
  </footer>>
</fieldset>