
  /* fieldset */
  fieldset { 
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
  }
  
  img{
    align: middle;
    height: 500px;
    width: 975px;
  }
